
<EditForm Model="@autor" OnValidSubmit="@OnValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="form-group">
        <label form="nome">Nome: </label>
        <div>
            <InputText id="txtCategoriaNome" @bind-Value="@autor.Nome" class="form-control" />
            <ValidationMessage For="@(()=> autor.Nome)" />
        </div>
    </div>
    <div class="form-group">
        <label form="nacionalidade">Nacionalidade: </label>
        <div>
            <InputText @bind-Value="@autor.Nacionalidade" class="form-control" />
            <ValidationMessage For="@(()=> autor.Nacionalidade)" />
        </div>
    </div>
    <br />
    <button type="submit" class="btn btn-success">
        @ButtonTextSubmit
    </button>
    <button class="btn btn-danger"
            @onclick="@(()=> navigation.NavigateTo("autor"))">
        @ButtonTextCancelar
    </button>
</EditForm>
@code{
    [Inject]
    public NavigationManager navigation { get; set; }
    [Parameter]
    public Autor autor { get; set; }
    [Parameter]
    public string ButtonTextSubmit { get; set; } = "Salvar";
    [Parameter]
    public string ButtonTextCancelar { get; set; } = "Cancelar";
    [Parameter]
    public EventCallback OnValidSubmit { get; set; }

}