@page "/addrole"

@inject NavigationManager NavigationManager
@inject IRoleService roleService

<h2>Cria um novo Perfil</h2>
<hr />

<Alerta Exibir="Exibir">
    <h3>@Mensagem</h3>
</Alerta>

<EditForm Model="@role" OnValidSubmit="@ValidSubmit">
    <DataAnnotationsValidator />
    <div class="row">
        <div class="col-md-8">
            <div class="form-group">
                <label for="Name" class="control-label">Nome</label>
                <input for="Name" class="form-control" @bind="@role.Name" placeholder="Informe o nome do Perfil" />
                <ValidationMessage For="@(() => role.Name)" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <button class="btn btn-primary" type="submit">Salvar</button>
                <input type="button" class="btn" @onclick="@Cancel" value="Cancela" />
            </div>
        </div>
    </div>
</EditForm>

@code {
    Role role = new Role();
    bool Exibir = false;

    [Parameter]
    public string Mensagem { get; set; }

    void Cancel()
    {
        NavigationManager.NavigateTo("roles");
    }

    private async void ValidSubmit()
    {
        await CreateRole();
    }

    protected async Task CreateRole()
    {
        bool resultado = await roleService.CreateRole(role);
        if (!resultado)
        {
            Exibir = true;
            Mensagem = "Já existe Role cadastrado com este Nome";
        }
        else
        {
            NavigationManager.NavigateTo("roles");
        }
    }

}
