@page "/roles"

@inject IRoleService roleService
@inject IWebHostEnvironment Env
@attribute [Authorize]

<h2>Roles</h2>

<p>
    <a href="/addrole">Cria novo Perfil</a>
</p>

<Alerta Exibir="Exibir">
    <h3>@Mensagem</h3>
</Alerta>

@if (roles == null)
{
    <img src="/images/basicloader.gif" />
}
else
{
    <table class='table'>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nome</th>
                <th>Normalizado</th>
                <th>TimeStamp</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var role in roles)
            {
                <tr>
                    <td>@role.Id</td>
                    <td>@role.Name</td>
                    <td>@role.NormalizedName</td>
                    <td>@role.ConcurrencyStamp</td>
                    <td>
                        <a href='/editrole/@role.Id'>Editar</a>
                        <a href='/deleterole/@role.Id'>Deleta</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}


@code {
    List<Role> roles;
    bool Exibir = false;

    [Parameter]
    public string Mensagem { get; set; }

    protected override async Task OnInitializedAsync()
    {
        try
        {
            roles = await roleService.GetRoles();
        }
        catch (Exception ex)
        {
            Exibir = true;
            if (Env.IsDevelopment())
            {
                Mensagem = "Erro ao acessar os dados ...\n" + ex.StackTrace.ToString();
            }
            else
            {
                Mensagem = "Não foi possível ao acessar os dados dos perfis do usuário ...";
            }
        }
    }
}
