@page "/categoria/edit/{categoriaId:int}"
@inject HttpClient http
@inject NavigationManager navigation

<h1>Editar Categoria</h1>
@*<CategoriaForm Categoria="@categoria" OnValidSubmit="EditarCategoria"
               ButtonTextSubmit="Salvar" ButtonTextCancelar="Cancelar">

</CategoriaForm>*@
<EditForm Model="@categoria" OnValidSubmit="@EditarCategoria">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="form-group">
        <label form="nome">Nome: </label>
        <div>
            <InputText @bind-Value="@categoria.Nome" class="form-control" />
            <ValidationMessage For="@(()=> categoria.Nome)" />
        </div>
    </div>
    <div class="form-group">
        <label form="descricao">Descrição: </label>
        <div>
            <InputText @bind-Value="@categoria.Descricao" class="form-control" />
            <ValidationMessage For="@(()=> categoria.Descricao)" />
        </div>
    </div>
    <br />
    <button type="submit" class="btn btn-success">
        Salvar
    </button>
    <button class="btn btn-danger"
            @onclick="@(()=> navigation.NavigateTo("categoria"))">
       Cancelar
    </button>
</EditForm>

@code {
    //getJsonAsync = > obter categoria pelo id
    //putJsonAsync => altearar dados da categoria
    [Parameter]
    public int categoriaId { get; set; }
    Categoria categoria = new Categoria();
    protected async override Task OnParametersSetAsync()//pegar os dados
    {
        categoria = await http.GetFromJsonAsync<Categoria>($"api/categoria/{categoriaId}");
    }

    async Task EditarCategoria()
    {
        await http.PutAsJsonAsync("api/categoria", categoria);
        navigation.NavigateTo("categoria");
    }
}
