@page "/"

<h1>Hello, @nome</h1>
<h1>data e hora : @DateTime.Today  </h1>
<h1>dia da semana :  @data.ToUpper()</h1>  
<hr />
<h1>@saudacao(nome)</h1>
<hr />
<h1> 2 + 2 = @(2+2)</h1>
<hr />
<button @onclick="@TratacliqueBotao">clique auqi</button>

@code{
    string nome = "Macoratti";

    private string data = DateTime.Now.DayOfWeek.ToString();


    private string saudacao(string nome)
    {
        var mensagem = "bem vindo" + nome.ToUpper();
        return mensagem;
    }

    private void TratacliqueBotao()
    {
        Console.WriteLine("fui clicado");
    }
}



