@page "/deleteuser/{id:guid}"

@inject IUserService userService
@inject IWebHostEnvironment Env
@inject NavigationManager NavigationManager

<h2>Confirma Exclusão ?</h2>
<p>Deseja realmente deletar este usuário com Id: <b> @id</b></p>
<br />
<Alerta Exibir="Exibir">
    @Mensagem
</Alerta>

<div class="col-md-4">
    <table class="table">
        <tr>
            <td>Nome</td>
            <td>@user.UserName.</td>
        </tr>
        <tr>
            <td>Normalizado</td>
            <td>@user.Email</td>
        </tr>
    </table>
    <div class="form-group">
        <input type="button" value="Deletar" @onclick="@Delete" class="btn btn-primary" />
        <input type="button" value="Cancelar" @onclick="@Cancel" class="btn btn-outline-primary" />
    </div>
</div>


@code {
    [Parameter]
    public Guid id { get; set; }

    User user = new User();

    bool Exibir = false;

    [Parameter]
    public string Mensagem { get; set; }

    protected override async Task OnInitializedAsync()
    {
        user = await userService.GetUser(id);
    }

    void Cancel()
    {
        NavigationManager.NavigateTo("users");
    }

    protected async Task Delete()
    {
        try
        {
              await userService.DeleteUser(id);
              NavigationManager.NavigateTo("users");
        }
        catch (Exception ex)
        {
            Exibir = true;
            if (Env.IsDevelopment())
            {
                Mensagem = "Erro ao acessar os dados ...\n" + ex.StackTrace.ToString();
            }
            else
            {
                Mensagem = "Não foi possível excluir o usuário...";
            }
        }
    }
}
